@charset "UTF-8";

html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

#wrap {
	marign: 0 auto 0 auto;
}

header {
	height: 8%;
	padding: 2% 0 0 0;
	background-color: blue;
	text-align: center;
	font-size: 2em;
	color: white;
}

nav {
	height: 5%;
	background-color: mediumpurple;
}

nav ul {
	list-style-type: none;
	padding: 0.5% 0 0.5% 0;
}

nav li {
	display: inline;
	padding: 0 4% 0 4%;
}

nav a {
	text-decoration: none;
	color: white;
}

section {
	height: 80%;
	background-color: #ccc;
}

section h1{
	text-align: center;
	padding: 2% 0 2% 0;
	border: thick;
}
section h2 {
	text-align: center;
	padding: 2% 0 2% 0;
}

section h3 {
	text-indent: 2%;
	margin-bottom: 1%;
}

section ol {
	padding: 0 2% 0 2%;
}

table {
	margin: 0 auto 0 auto;
	width:800px;
	height: 200px;
	border: 1px solid gray;
}

th{
	text-align: center;
	border: 1px solid gray;
} td {
	border: 1px solid gray;
	
}

#button {
	text-align: center;
}

footer {
	height: 5%;
	padding: 1% 0 0 0;
	background-color: blue;
	text-align: center;
	color: white;
}

	
}